<!-- Main Wrapper -->
<div class=" <%= page_path === './application/chat' && 'main-chat-blk' %>">
  <div class="main-wrapper">
    <%- include ('./header/header') %> <% if(page_path !='./sales/pos' ){ %> <%-
    include ('./sidebar/sidebar') %> <% } %>
    <!-- conditional class binding -->
    <div class="page-wrapper 
    <%= page_path === './application/chat' && 'chat-page-wrapper' %> 
    <%= page_path === './sales/pos' && 'ms-0 pos-pg-wrapper' %>
    <%= (current_routes === routes.notes || current_routes === routes.todo || current_routes === routes.file_manager 
    || current_routes === routes.file_manager_deleted || current_routes === routes.file_shared || current_routes === routes.file_document
    || current_routes === routes.file_archived || current_routes === routes.file_favourites || current_routes === routes.file_recent) && 'notes-page-wrapper file-manager' %>">
      <%- include (page_path) %>
    </div>
  </div>
</div>